<h3><%= link_to "#{markdown.render(post.title)}".html_safe, post, class:'title-link' %></h3>
<p><small><%= post.created_at.strftime('%Y-%m-%d') %></small></p>
<%= markdown.render(post.text).html_safe %>
