<div class="row">
  <h3><%= @post.title.html_safe %></h3>
</div>

<div class="row">
  <%= @post.text.html_safe %>
</div>

<% if admin_signed_in? %>
    <div class="row">
    <%= link_to 'Edit', edit_post_path(@post) %>&nbsp
    <%= link_to 'Destroy', post_path(@post),
                           method: :delete,
                           data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
