<div class="row">
  <div class="col-md-6">
    <div class="light-padding-top">
      <%= image_tag "me.jpg", height: "230", width: "230", class: "rounded-circle" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="light-padding-top">
      <div class="pull-right">
        <h1>
            <%= link_to "A Real #{fa_icon('diamond', title: 'Gem', alt: 'Gem', class: 'text-danger')} of a Blog".html_safe,
                '/', class:'title-link' %>
        </h1>
      </div>
      <div class="pull-right">
        <h5>
          Blog about Ruby, Rails, and more!
        </h5>
      </div>
      <div class="pull-right">
        <h6>
          <%= link_to 'By Adam Wanninger', "https://github.com/ajwann" %>
        </h6>
      </div>
    </div>
  </div>
</div>

<hr>
