<div class="row">
  <div class="col-sm-6">
    <div style="padding-top:5%">
      <%= image_tag "me.jpg", height: "230", width: "230", class: "rounded-circle" %>
    </div>
  </div>
  <div class="col-sm-5">
    <div style="padding-top:5%">
      <h1 class="pull-right">
        A Real <%= fa_icon "diamond", title: "Gem", class: "text-danger" %> of a Blog
      </h1>
      <h6>
      <%= link_to 'By Adam Wanninger', "https://github.com/ajwann", class: "pull-right" %>
      </h6>
    </div>
  </div>
</div>

<br>

