<div class="row">
  <div class="col-sm-7">
    <div class="light-padding-top">
      <%= image_tag "me.jpg", height: "230", width: "230", class: "rounded-circle" %>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="light-padding-top">
      <h1 class="pull-right">
        A Real <%= fa_icon "diamond", title: "Gem", alt: 'Gem', class: "text-danger" %> of a Blog
      </h1>
      <h5 class="pull-right">
        Blog about Ruby, Rails, and more!
      </h5>
      <h6>
      <%= link_to 'By Adam Wanninger', "https://github.com/ajwann", class: "pull-right" %>
      </h6>
    </div>
  </div>
</div>

<br>

